@media screen and (max-width: 767px) {
    .formsec1 {
        display: block !important;
    }
    .mt-anna {
        margin-top: -7rem;
    }
    .centered {
        display: none;
    }
    .form-title h4 {
        padding-top: 2rem;
    }
    .logo2 {
        width: 80px;
        height: 100px;
    }
    body {
        letter-spacing: 0.01rem;
    }
    .head {
        font-size: 2.5rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.8rem;
    }
    h6,
    p {
        font-size: 0.75rem;
    }
    .owl-carousel .owl-nav {
        display: block;
    }
    #partner_slide .owl-nav .owl-next {
        right: -5% !important;
    }
    #partner_slide .owl-nav .owl-prev {
        left: -5% !important;
    }
}

@media screen and (max-width: 575px) {
    .font-p {
        font-size: 1.5rem !important;
    }
    .head {
        font-size: 2rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    h6,
    p {
        font-size: 0.9rem;
    }
    .bord-nr {
        border-right: none !important;
    }
    .bord-nb {
        border-bottom: none !important;
    }
    .campus-wd {
        width: 300px !important;
    }
    .cust-card {
        width: 120px !important;
    }
    .font-p3 {
        font-size: 0.6rem !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .font-p {
        font-size: 0.7rem !important;
    }
    /* .font-p3{
    font-size: 0.85rem !important;
}*/
}

@media screen and (min-width: 576px) and (max-width: 991px) {}

@media screen and (min-width: 575px) and (max-width: 767px) {}

@media screen and (max-width: 991px) {
    /* .title1 {
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
}*/
    .banner_form {
        position: relative;
        left: auto;
        top: 2rem;
        right: auto;
        text-align: center;
        margin: 0 auto 3rem;
        width: 90%;
    }
    /*  .centered{
    display: none;
}*/
    .form-title h4 {
        padding-top: 2rem;
    }
    .pos-mba {
        position: static;
        left: 0rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .centered {
        left: 53%;
    }
}

@media screen and (max-width: 1250px) {
    .service-modals .modal-dialog{
        max-width: fit-content !important;
    }
}

@media screen and (min-width: 1251px) and (max-width: 1299px) {
    .centered h4,
    .centered h5 {
        font-size: 1.1rem!important;
    }
    .campus-wd {
        width: 320px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1250px) {
    .centered h4,
    .centered h5 {
        font-size: 1rem!important;
    }
    .campus-wd {
        width: 300px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .centered h4,
    .centered h5 {
        font-size: 0.8rem!important;
    }
    .centered {
        left: 41% !important;
    }
    .banner_form {
        right: 5% !important;
    }
    #partner_slide .owl-nav .owl-next {
        right: -4% !important;
        top: 1rem;
    }
    #partner_slide .owl-nav .owl-prev {
        left: -4% !important;
        top: 1rem;
    }
}

@media screen and (min-width: 991px) and (max-width: 1023px) {
    .centered h4,
    .centered h5 {
        font-size: 0.8rem!important;
    }
    .centered {
        left: 41% !important;
    }
    .banner_form {
        right: 3% !important;
    }
    #partner_slide .owl-nav .owl-next {
        right: -1% !important;
        top: 2rem;
    }
    #partner_slide .owl-nav .owl-prev {
        left: -1% !important;
        top: 2rem;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1399px) {
    .centered h4 {
        font-size: 1.3rem!important;
    }
    .centered h5 {
        font-size: 1rem!important;
    }
    .campus-wd {
        width: 330px !important;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
    .centered h4 {
        font-size: 1.55rem!important;
    }
    .centered h5 {
        font-size: 1.2rem!important;
    }
    .campus-wd {
        width: 330px !important;
    }
}

@media screen and (max-width: 1599px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 1600px) {
    .centered h4 {
        font-size: 1.8rem!important;
    }
    .centered h5 {
        font-size: 1.4rem !important;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 1.1rem !important;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    .campus-wd {
        width: 400px !important;
    }
}

@media screen and (min-width:1801px) and (max-width:1920px) {
    .campus-wd {
        width: 460px !important;
    }
}

@media screen and (min-width:1201px) and (max-width: 1600px) {
    #partner_slide .owl-nav .owl-next {
        right: -5% !important;
        top: 1rem;
    }
    #partner_slide .owl-nav .owl-prev {
        left: -5% !important;
        top: 1rem;
    }
}

@media screen and (max-width: 1600px) {}

@media screen and (min-width:992px) and (max-width: 1200px) {
    .cust-card {
        width: 180px !important;
    }
}

@media screen and (min-width:992px) {
    .custom-container {
        padding: 0rem 5rem !important;
    }
    .banner-section img {
        margin-top: 7rem !important;
    }
    .ht-mba {
        height: 430px !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    body {
        letter-spacing: 0.03rem;
    }
    .head {
        font-size: 2.8rem;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6,
    p {
        font-size: 0.85rem;
    }
    .centered h4 {
        font-size: 1rem!important;
    }
    .centered h5 {
        font-size: 0.85rem !important;
    }
    #partner_slide .owl-nav .owl-next {
        right: -4% !important;
        top: 1rem;
    }
    #partner_slide .owl-nav .owl-prev {
        left: -4% !important;
        top: 1rem;
    }
    .head {
        font-size: 2rem;
    }
    .pos-expert {
        position: relative;
        top: -3rem;
    }
    .pos-expert-text {
        position: relative;
        top: -9.5rem;
    }
    .wd-expert {
        width: 70% !important;
    }
}

@media screen and (max-width:360px) {
    .head {
        font-size: 1.8rem !important;
    }
}

@media screen and (min-width: 991px) {
    /*  .carousel-control-prev, carousel-control-next {
display: none;
}*/
    .modal-xl {
        max-width: 800px !important;
    }
    p.text-violet.slider-title {
        min-height: 80px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav.ml-auto {
        width: 100% !important;
    }
    /* .fixed-top {
         position: static !important; 
        position: sticky !important;
    } */
    .arrow-right {
        display: none;
    }
    .bord-r {
        border-right: none !important;
    }
    .services .col-md-6.col-lg-4{
        display: flex;
        justify-content: center;
    }
    .navbar-light .navbar-nav .nav-link:after{
        content: none;
    }
    .fixed-top .navbar-nav.ml-auto{
        align-items: flex-end;
    }
    .fixed-top .container-fluid.navbar-margin{
        /* justify-content: flex-end; */
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 1rem !important;
    }
    .head {
        font-size: 2.5rem;
    }
    .campus-wd {
        width: 250px !important;
    }
    .arrow-right {
        right: -13rem !important;
    }
    #speak_slide .owl-nav .owl-prev {
        left: -1% !important;
    }
    #speak_slide .owl-nav .owl-next {
        right: -1% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1250px) {}

@media screen and (min-width: 1251px) and (max-width: 1550px) {}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px !important;
    }
    .pos-expert-text {
        top: -15.5rem;
    }
    .pos-expert {
        top: -8rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .logo-wd {
        width: 70px !important;
    }
    .navbar-light .navbar-toggler {
        margin-top: 0.5rem !important;
    }
    .ht-mba {
        height: 300px !important;
    }
    .head-btn-toll {
        font-size: 0.55rem !important;
    }
}

@media screen and (min-width:361px) and (max-width: 400px) {
    .logo-wd {
        width: 75px;
    }
    .navbar-light .navbar-toggler {
        margin-top: 1rem !important;
    }
    .ht-mba {
        height: 320px !important;
    }
    .head-btn-toll {
        font-size: 0.65rem !important;
    }
}

@media screen and (max-width: 400px) {
    .campus-wd {
        width: 250px !important;
    }
    .cust-card {
        width: 90px !important;
    }
    /*.ht-mba {
    height: 350px !important;
}*/
}

@media screen and (min-width:401px) and (max-width: 500px) {
    .logo-wd {
        width: 88px;
    }
    .head-btn-toll {
        font-size: 0.75rem !important;
    }
}

@media screen and (min-width:401px) and (max-width:599px) {
    /*.navbar-light .navbar-toggler{
 margin-top: 1rem !important;
}*/
    .ht-mba {
        height: 350px !important;
    }
    .head-btn-toll {
        font-size: 0.85rem !important;
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    .ht-mba {
        height: 500px !important;
    }
}

@media screen and (max-width: 319px) {
    .logo-wd {
        width: 50px !important;
    }
    .navbar-light .navbar-toggler {
        margin-top: 0.5rem !important;
    }
    .ht-mba {
        height: 250px !important;
    }
    .head-btn-toll {
        font-size: 0.45rem !important;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1599px) {
    .students-achievements-section .carousel-inner-item {
        min-height: 635px !important;
    }
}

@media screen and (min-width:600px) and (max-width:799px) {}

@media screen and (min-width:800px) and (max-width:991px) {}

@media screen and (min-width:768px) {
    .banner-section2 {
        display: none !important;
    }
}

@media screen and (min-width:769px) {
    .formsec1 {
        display: none !important;
    }
}

@media screen and (max-width:768px) {
    .formsec {
        display: none !important;
    }
    .my-mobile {
        margin: 3rem 0rem;
    }
        section#contactus .Get_in_Touch  ,  section#contactus .Address{
            padding-top: 20px !important;
        }

}

@media screen and (min-width:400px) and (max-width:499px) {
    .pos-expert-text {
        top: -11rem;
    }
    .pos-expert {
        top: -5rem;
    }
}

@media screen and (min-width:360px) and (max-width:399px) {
    .pos-expert-text {
        top: -9rem;
    }
    .pos-expert {
        top: -3rem;
    }
}

@media screen and (max-width:359px) {
    .pos-expert-text {
        top: -7.5rem;
    }
    .pos-expert {
        top: -2rem;
    }
    h6,
    p {
        font-size: 0.7rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    .mt-anna {
        margin-top: -4rem;
    }
}

.mb-expert2 {
    margin-bottom: -10rem !important;
}

@media only screen and (max-width: 600px) {
    .fixed-bottom {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .bottom_button {
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
    }
}

@media screen and (max-width: 768px) {
    .bottom_button {
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
    }
}
@media screen and (max-width: 992px){
    body section#consult {
        padding-bottom: 0px !important;
    }
    body section.leader, section.leader .container , section#clients ,  section#services .container  ,section#services .container .img-fluid{
        padding-top: 0px !important;
        }
        section#clients .container , section#facilities .container, section#facilities .row.pt-5.mt-3.justify-content-center ,section#consult h1 , section#clients h1 , section#facilities h1 , section#contactus h1 ,  section.leader {
            padding: 0px !important;
        }
}