body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    margin: 0px auto;
    background: #fff;
    font-size: 1rem;
    color: #000;
    font-weight: 400;
}


/* navbar starts*/

.navbar-nav.ml-auto {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link{
    font-size: .88rem !important;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    /* top: 16px; */
    height: 50%;
    width: 1px;
    background: linear-gradient(to top, #a3140400, #a31404, #a3140400);
}

.navbar-expand-md .navbar-nav .nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    /* top: 16px; */
    height: 50%;
    width: 1px;
    background: linear-gradient(to top, #a3140400, #a31404, #a3140400);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/togglericon.svg");
}


/* navbar ends*/


/* header nav */

.navbar.navbar-light {
    background: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #393185;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #393185 !important;
    border-bottom: 3px solid #c42c40;
}

a:hover {
    color: #ed4631 !important;
}


/*Banner*/

.carousel-control-prev-icon {
    background-image: url("../images/chevron_left_black_24dp.svg");
}

.carousel-control-next-icon {
    background-image: url("../images/chevron_right_black_24dp.svg");
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 30px;
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: 0.7 !important;
}

h5,
h6,
p {
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

.head {
    font-size: 3rem;
}


/*Scroll button starts*/

.scroll {
    outline: none !important;
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    color: #fff !important;
    line-height: 40px;
    font-size: 30px;
    z-index: 9991;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    background: #c42c40;
    font-weight: 600;
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.3);
}

i.fa.fa-angle-up {
    font-weight: 900;
    font-size: 2rem;
}


/*Scroll button ends*/

:focus,
.navbar-light .navbar-toggler:focus {
    outline: none;
}

#header.header-scrolled {
    background: #f8f8f8;
}

.bg-blue {
    background: #151545;
}

.text-blue {
    color: #151545;
}

.text-violet {
    color: #393185;
}

.text-pink {
    color: #be3446;
}

.bg-pink {
    background: #C42C40;
}

.bg-violet {
    background: #393185;
}

.bg-yellow {
    background: #FFD400;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px !important;
}


/*#header.header-scrolled .logo-wd {
    width: 150px;
}*/

.btn-primary a {
    color: white;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-warning.focus,
.btn-warning:focus {
    box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background-color: #202658;
    border-color: #202658;
    border-radius: 38px;
    padding: 0.7rem 3rem;
    font-weight: bold;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus {
    color: #202658;
    background-color: #f9ac52;
    border-color: #f9ac52;
    border-radius: 38px;
    padding: 0.7rem 3rem;
    font-weight: bold;
}

a {
    color: #202658;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-carousel .owl-nav button.owl-next img,
.owl-carousel .owl-nav button.owl-prev img {
    width: 25px;
}

.owl-carousel .owl-nav .owl-prev {
    left: 3% !important;
}

.owl-carousel .owl-nav .owl-next {
    right: 3% !important;
}

#partner_slide .owl-nav .owl-next {
    right: -10% !important;
    top: 2rem;
}

#partner_slide .owl-nav .owl-prev {
    left: -10% !important;
    top: 2rem;
}

button:focus {
    outline: none !important;
}

.form-control {
    color: #6c757d !important;
}


/*sidebar form starts*/

.dsu-form {
    top: 8rem;
}

.dsu-form {
    z-index: 100000 !important;
}

.dsu-form {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 308px;
    float: right;
    margin-top: 52px;
    padding: 0 0 0;
    background: #fff;
    position: fixed;
    right: 0;
    z-index: 9999;
    margin: 0;
    padding: 0;
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
}

.form-clickOuter {
    left: -34%;
    position: absolute;
    bottom: 39%;
    right: 78%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    animation: blinker 2s linear infinite;
}

.form-click {
    position: relative;
    font-weight: 500;
    font-size: 19px;
    padding: 5px 20px;
    cursor: pointer;
    display: inline-block;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    color: #fff;
    background: #c42c40;
}

.frmBg {
    text-align: center;
    padding: 10px 15px;
    background-color: #393185;
}

.frmBg span {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

input#submit_btn {
    background: #393185;
    margin: auto;
    display: block;
}


/*sidebar form ends*/

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.font-weight-600 {
    font-weight: 600;
}


/*.bg-grey-img {
    background: url("../images/bggrey.png");
    background-repeat: no-repeat;
    background-size: cover;
}*/

.mt-bann {
    margin-top: -0.5rem;
}

.custom-div {
    display: flex;
    justify-content: space-between;
}

.cust-card {
    background-color: #C42C40;
    color: #FFFFFF;
    width: 200px;
    height: 130px;
    border-radius: 20px;
    /* padding-bottom: 1rem; */
    margin-bottom: 1rem;
}

.cust-card>.card-body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cust-pad {
    padding-top: 4rem;
}


/* align-items-center d-flex justify-content-center */

.cust-row {
    padding-top: 5rem;
}

.cust-container {
    /* margin-top: 5rem; */
    padding-bottom: 3rem;
}

.cust-col {
    display: flex;
    justify-content: space-between;
    gap: 2;
}


/*.pu-advantage-section .pu-card {
    border-radius: 1.2rem;
    width: 17rem;
    height: 20rem;
}
*/

.pu-card>.card-body {
    border-radius: 1.2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #393185;
    color: #FFFFFF;
    min-height: 325px;
    justify-content: center;
}

.pu-advantage-section .cust-col>.card>.card-body {
    background-color: #393185;
    color: #FFFFFF;
}

.our-student-speaks-section {
    margin-top: 1rem;
    background-color: #393185;
    padding-bottom: 5rem;
    ;
}

.our-student-speaks-section-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.our-student-speaks-section-card {
    /* background: url("../images/rectangle_690.png"); */
    background: rgba(131, 126, 126, 0.2) 0% 100% no-repeat padding-box;
    background-color: #332b7a;
    border-radius: 0.4rem;
    /* opacity: 100% !important; */
    /* backdrop-filter: blur(31px); */
    /* -webkit-backdrop-filter: blur(31px); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    padding: 2rem;
    margin: 0.5rem;
    margin-top: 8rem;
    /* height: 32vh; */
    min-height: 415px;
    font: normal normal normal 24px/30px Open Sans;
    letter-spacing: 0px;
    /* width: 26.2rem; */
    /* box-sizing: unset; */
}

.our-student-speaks-section-card-3 {
    /* height: 42vh !important; */
    font-size: 1rem;
}

.our-student-speaks-section-card-image {
    margin-top: -45%;
}

.alumni-speak-p {
    font-size: 1rem;
}

.text-mb-5 {
    margin-bottom: 5rem !important;
}

.text-mb-3 {
    margin-bottom: 3rem !important;
}


/* Design exp sec */

.global-exp-sec h2 {
    font-size: 2rem;
    color: #393185;
}

.global-exp-sec p {
    color: #be3446;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d35566;
}

img.exp-img {
    margin: 0 0.7rem !important;
    z-index: -1;
    padding: auto;
}

.global-exp-sec .s-text {
    text-align: center;
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    bottom: -0.7rem !important;
    border-radius: 1.2rem;
    padding: 0.3rem 0.5rem;
    margin-top: -1.5rem !important;
    z-index: 1 !important;
    align-items: center;
}

.pu-advantage-section .cust-col>.card>.card-body {
    background-color: #393185;
    color: #FFFFFF;
}

.vibrant-learning-section .cust-col {
    justify-content: center;
    gap: 2rem;
}

.vibrant-learning-section .pu-card {
    border: 1px solid transparent;
    width: 100%;
    color: white;
}

.vibrant-learning-section .pu-card.festivities-div {
    /* background-color: #393185; */
    background: #393185 url('../images/vibrant-learning/Slider-1-Light.png') 0% 0% no-repeat padding-box;
    /* mix-blend-mode: luminosity; */
    /* opacity: 0.1; */
    border-radius: 20px;
    padding: 1.8rem;
}

.vibrant-learning-section .pu-card.eminent-div {
    background-color: #C42C40;
    background: #C42C40 url('../images/vibrant-learning/Slider-2-Light.png') 0% 0% no-repeat padding-box;
    /* mix-blend-mode: luminosity; */
    /* opacity: 0.1; */
    border-radius: 20px;
    padding: 1.8rem;
}

.vibrant-campus-section {
    display: flex;
    justify-content: center;
}

.vibrant-campus-section .custom-container {
    max-width: 80%;
}

.vibrant-campus-section .cust-carousel-item {
    padding: 1rem;
}

.vibrant-campus-carousel .owl-item.first {
    /* -webkit-transform: scale(1.4);
    transform: scale(1.4); */
    width: 50%;
}

.vibrant-campus-carousel .owl-stage {
    display: flex;
    align-items: baseline;
}

.vibrant-campus-carousel .owl-item img {
    /* width: 300px; */
}

.design-exp-points ul li {
    list-style: url("../images/redcircle.svg") outside !important;
}

.industry-specifications {
    margin-top: 4rem !important;
}

.industry-specifications p {
    font-size: 1.3rem;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .design-exp-points {
        margin-top: 2rem;
    }
    img.exp-img {
        margin-top: 1rem !important;
        align-items: center;
    }
    s.text {
        align-items: center;
    }
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px !important;
    height: 12px !important;
    border: 2px solid #3b3785!important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    border: 2px solid #3b3785!important;
    background: #3b3785!important;
}

#recruiter_slide .owl-dots.disabled {
    display: block !important;
}

#speak_slide .owl-nav.disabled {
    display: block !important;
}

#specilization_slide .owl-dots.disabled {
    display: block !important;
}

#specilization_slide .owl-dots {
    margin-top: 2rem;
}

.owl-carousel .owl-nav .owl-prev {
    left: -5% !important;
}

.owl-carousel .owl-nav .owl-next {
    right: -5% !important;
}


/* .owl-carousel .owl-nav button.owl-next img, .owl-carousel .owl-nav button.owl-prev img {
    width: 30px;
}*/

.shadow-enter {
    background: #FFFFFF;
    box-shadow: 5px 5px 20px #00000026;
    border-radius: 20px;
}

#advantage_slide .card {
    border: 1px solid #00000000;
}


/*new css*/

.text-yellow {
    color: #F6CE08;
}

.bg-about-img {
    background: url("../images/placement.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.5rem;
}

.text-placement {
    font-size: 40px;
}

.bord-r {
    border-right: 2px solid #544e94;
}

.arrow-right {
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid white;
    position: relative;
    right: -15.8rem;
    top: -2.5rem;
}

.box-shadlead {
    box-shadow: 10px 10px 5px #c7c6c8;
}

.enter-sec {
    box-shadow: 0px 0px 10px #c7c6c8;
    padding: 1rem;
}

.bg-consult-img {
    background: url("../images/bgleader.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text:last-child {
    margin-bottom: 0;
    font-size: .9rem;
}

.consult .card{
    border: 0px solid #393185 ;
    /* border-radius: 1rem; */
    box-shadow: 10px 10px 23px #8080808f;
}

.consult .card:hover {
    transform: scale(1.05);
}

.animate-card {
    animation-duration: 0.75s;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
    animation-fill-mode: backwards;
}

/* Fade In */
/* .animate.fade {
    animation-name: animate-fade;
    animation-timing-function: ease;
  }
  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } */

/* Pop In */
.animate.pop {
    animation-name: animate-pop;
  }
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

.consult .card-body{
    text-align: center;
}

.card-body {
    padding: 0.5rem 1.8rem;
}

.accordion dl {
}

.accordion dt > a {
    /* text-align: center; */
    font-weight: 700;
    padding: 2em;
    /* display: block; */
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-decoration: none;
    color: #3f51b5;
    -webkit-transition: background-color 0.5s ease-in-out;
}
.accordion dd {
    background-color: #94060663;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
}
.accordion dd > p {
  padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    background-color: #16a08500;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle {
    background-color: #22313f00;
  border-bottom: 1px solid #2c3e50;
}
.accordionTitle:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover {
    background-color: #ffffff;
}

.accordionTitleActive {
    background-color: #34495e00;
}
.accordionTitleActive:before {
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
}
@media all {
  .accordionItem {
    max-height: 50em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}

.accordionItemCollapsed {
  max-height: 0;
}

.animateIn {
  -webkit-animation-name: accordionIn;
  -webkit-animation-duration: 0.65s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: normal;
  -moz-animation-duration: 0.65s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionIn;
  animation-duration: 0.65s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.animateOut {
  -webkit-animation-name: accordionOut;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: accordionOut;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionOut;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes accordionIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes accordionOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.bg-img-yel {
    background: url("../images/Yellow Box.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-speak {
    background: url("../images/bgspeak.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.pos-mba {
    position: relative;
    left: -10rem;
}


/*.ht-mba{
    height: 430px;
}*/

.bord-r2 {
    border-right: 1px solid #f0f0f0;
}

.card {
    border: 1px solid rgb(0 0 0 / 0%);
}

#recruiter_slide {
    background: white;
    box-shadow: 3px 0px 10px #00000029;
}

#speak_slide .owl-nav .owl-prev {
    left: -3% !important;
}

#speak_slide .owl-nav .owl-next {
    right: -3% !important;
}

.dsu-form1 {
    border: 1px solid #ced4da;
    padding: 1rem;
}

.toll-free a:hover {
    color: #403785 !important;
}

button.btn.enq_ftr {
    background-color: #c4161c;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    width: 63%;
    border-radius: 0.7rem;
}

.accordionItem.animateIn p{
    margin-bottom: 0;
} 

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 320px;
    perspective: 1000px;
    margin-bottom: 1rem;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .text-red.text-center.font-weight-bold{
    color: #ed4631 !important;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 10px 10px 10px #80808036;
  }

  .flip-card-back{
    padding: 1rem;
  }

  .flip-card-front h4{
    position: absolute;
    bottom: 0;
    font-size: 1.1rem;
    color: #150303;
    width: 100%;
    text-align: center;
    background: #ffffffc7;
    padding: 0.5rem 0;
    margin: 0;
  }

  .flip-card-back ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back ul li, .flip-card-back p{
    font-size: 1rem;
  }

  .flip-card-back ul.list-unstyled {
    align-items: start;
    text-align: start;
}
.read-more{
    cursor: pointer;
    color: #1b0d0d;
}

p.read-more:hover{
    color: #894646;
}

.service-modals .modal-dialog{
 max-width: 35%;
}

.service-modals .modal-dialog .modal-body ul li{
    font-size: .85rem;
}

.service-modals .modal-header{
    background-color: #0a0a66;
    color: white;
}

.service-modals .modal-header .close{
    
    color: white;
}

/* .service-modals .modal-dialog ul li::before{
    content: "\2012";
    padding-right: 1rem;
} */

.service-modals .modal-dialog .modal-body ul li::marker {
    color: #c42c40;
}

.btn-small{
    font-size: .7rem;
}

/* Faculty Wise Consultancy Information start */
.cicardbox {
    display: none;
    max-width: 20rem;
    margin: 0.5rem 0;
}
#ciloadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
  }

  #ciloadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }
  /* Faculty Wise Consultancy Information end */

/*footer starts*/

.copyright {
    background: url("../images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#faculty_consultancy {
    margin-top: 40px;
    padding: 1rem;
}
@media screen and (max-width: 768px) {
    #faculty_consultancy{
     /* gap:20px; */
     padding: 10px 10px 10px 10px;
    }
  }

.flip-card-front img{
    height: 100%;
    object-fit: cover;
}
.cicardbox img{
    border-radius: 20px;
    border: 1px solid #00000045;
}
.border-css{
    border: 1px solid #393185;
    padding: 16px 25px;
    border-radius: 100px;
    width: 120px;
    margin-bottom: 10px;
}
.border-css-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*footer ends*/

/*pagination*/
.services-pagination {
	padding: 15px;
	overflow: hidden;
}

/* .services-pagination .col-md-6 {
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
} */

/* .list-item h4 {
	color: blue;
	font-size: 18px;
	margin: 0 0 5px;	
} */

/* .list-item p {
	margin: 0;
} */

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: blue;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: blue;
	border-color: blue;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    color: blue;
	background: white;
}
.red-css .read-more{
    color: #fff !important;
  }
  .red-css .read-more:hover{
    color: red !important;
  }
 